@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Laila&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Laila:wght@700&display=swap");
body {
  /* background: teal; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/milad-fakurian-E8Ufcyxz514-unsplash.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.bodycontainer {
  text-align: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pagebody {
  /* background: cornsilk;
  border: 3px solid red; */
  display: inline-block;
  border-radius: 10px;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Laila", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.heading h1 {
  color: #520D80;
  display: inline-block;
  background: cornsilk;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  padding: 20px;
  border-radius: 36px;
  border: 3px solid #520D80;
  font-family: "Laila", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border-bottom: 8px solid #520D80;
}

.container {
  background: lavender;
  background: rgba(230, 230, 250, 0.8);
  margin: 10px;
  padding: 40px;
  border: 3px solid darkgoldenrod;
  border-radius: 20px;
}

.temptitle {
  margin: 5px;
  text-align: left;
}

.tempinputarea {
  display: flex;
  gap: 10px;
}

.tempdegree {
  flex-basis: 50%;
  text-align: left;
}

.tempunit {
  flex-basis: 50%;
}

#unitbox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}

.tempradio {
  font-size: 22px;
  scale: 1.5;
}

.tempinputbox {
  background: seashell;
  background: inherit;
  border: none;
  border-bottom: 1px solid black;
  font-size: 15px;
  padding: 10px;
  margin: 5px 0px;
}

.unitoptions {
  display: block;
  text-align: left;
}

.calltoaction {
  margin: 5vh 0px;
}

#submitbtn {
  background: plum;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  border: 2px groove black;
  /* opacity: 0; */
}

.submitbtn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.submitbtn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .submitbtn {
    padding: 0 2.6rem;
  }
}
.resultcontainer {
  text-align: left;
}

#resultunit {
  width: 20%;
}

.resetarea {
  margin: 20px;
}

.resetbtn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.resetbtn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* .semnos{
     border: 3px solid purple;
}

.subcontainer{
     border: 6px solid dimgray;
}

#semscount{
     border: 4px solid steelblue;
}

#semscontainer{
     border: 5px solid hotpink;
}

#submitarea{
     border: 4px solid green;
}

#reset{
     border: 3px solid coral ;
} *//*# sourceMappingURL=style.css.map */